## Invoice Currency

> Response:

```json
{
    "status": "success",
    "data": {
        "currencies": [
            "USD",
            "SGD"
        ]
    }
}
```

### HTTP Request

<span class="http-method get">GET</span> `/v1/escrow/metadata/invoicecurrency?buyer_country=SG&seller_country=IN`

### Query Parameters

Parameter       | Type        | Value
---------       | -------     | -----------
buyer_country   | **string**  |  ISO 3166 standard alpha-2 code. eg: SG, IN, US, etc.
seller_country  | **string**  |  ISO 3166 standard alpha-2 code. eg: SG, IN, US, etc.

### Response

Parameter                | Description
--------                 | --------
status                   | `string` returns the status of the API, "success" (or) "error_response"
data                     | `data` Data object. Please check <a href="/index.html#invoice_currency">invoice_currency</a> 

### invoice_currency

Parameter        | Description
---------        | -----------
currencies       | `[]string` Gives a list of supported invoice currency for the escrow txn
