##  Create Payment

> Request Body:

```json
{
    "txn_no": "1234",
    "complete_url": "",
    "error_url": "",
    "callback_url": ""
}
```

> Response:

```json
{
    "status": "success",
    "message": "payment session created successfully",
    "data": {
        "redirect_url": "https://sandbox.tazapay.com/marketplace/paymentdetails?token=dff96ecd-0485-41e4-8a75-b5f3b368fb6d"
    }
}
```

### HTTP Request
<span class="http-method post">POST</span> `'/v1/session/payment'`

**Pre-Requisite:**
 Need to have created an escrow agreement prior to creating payment.

### Body Parameters

The payload for body should be submitted in `application/json` format.

Parameter                                        | Description
--------                                         | --------
txn_no<br><small>required</small>                | `String `  Escrow transcation number received from create_escrow API response
complete_url<br><small>required</small>          | `string` URL where the customer is redirected after a successful payment
error_url<br><small>required</small>             | `string` URL where the customer is redirected in case of an error in the payment
callback_url<br><small>optional</small>          | `string`  URL to notify your server about the Async payment

### Response

Parameter                | Description
--------                 | --------
status                   | `string` status of the API.
message                  | `string` message for the response.
data                     | `data` Please check <a href="/index.html#payment">payment</a>

### payment

Parameter                | Description
--------                 | --------
redirect_url             | `string` URL to redirect the users to the Tazapay hosted page
