## Create Escrow
> Request Body:

```json
{
   "txn_type" : "goods", // optional
   "release_mechanism" : "tazapay", // optional
   "reference_id": "my_ref_val" // optional
   "initiated_by" : "tp_account_id",
   "buyer_id" : "tp_account_id", 
   "seller_id" : "tp_account_id",
   "txn_description" : "",
   "txn_docs":[ // optional
      {
         "type" : "Proforma Invoice",
         "url" : "https://direct.download.link"
      },
      {
         "type" : "Others",
         "name" : "OTH - File", // req: if type = Others
         "url" : "https://direct.download.link"
      }
   ],
   "is_milestone": false, // optional
   "attributes": {}, // optional
   "invoice_currency" : "USD",
   "invoice_amount": 100,
   "fee_tier" : "standard", // optional
   "fee_paid_by" : "seller", // optional
   "fee_percentage": 100 // optional [req: if fee_paid_by != ""]
   "release_docs": [ // optional
      {
         "type": "Proof of Work",
         "url": "https://direct.download.link" // optional
      },
      {
         "type" : "Others",
         "name" : "OTH - File", // req: if type = Others
         "url" : "https://direct.download.link" // optional
      }
   ]
}
```
> Response:

```json
{
   "txn_no": "7844",
   "state": "Awaiting_Payment",
   "sub_state": "na",
   "txn_type": "goods",
   "invoice_currency": "USD",
   "invoice_amount": 1000,
   "fee_tier": "standard",
   "fee_paid_by": "buyer",
   "fee_tier_percentage": 1.8,
   "fee_amount": 18,
   "collect_amount": 1018,
   "disburse_amount": 1000,
}

// Note: All the amount above is in invoice currency format
```

### HTTP Request
<span class="http-method post">POST</span> `/v1/escrow/`


### Body Parameters

The payload for body should be submitted in `application/json` format.

Parameter                                                             | Description
--------                                                              | --------
txn_type<br><small>optional</small>                                   | `Enum`  Type of transaction. Can be: `goods`, `service`, If empty; contracted MP level value will get applied
release_mechanism<br><small>optional</small>                          | `Enum`  Party responsible for verifying the release documents. Can be: `marketplace`, `tazapay`, If empty; contracted MP level value will get applied
reference_id<br><small>optional</small>                               | `string` Marketplace identifier value. Example, marketplace escrow number, auto generated value, etc.
initiated_by<br><small>required</small>                               | `string` Tazapay account UUID of the party who has initiated the transaction
buyer_id<br><small>required</small>                                   | `string` Tazapay account UUID of the buyer
seller_id<br><small>required</small>                                  | `string` Tazapay account UUID of the seller
txn_description<br><small>required</small>                            | `string` A short description of the underlying transaction or trade
txn_docs <br><small>optional</small>                                  | `[] txn_doc` Supporting documents for transaction. <br>Please check <a href="/index.html#txn_doc">txn_doc</a>
is_milestone<br><small>optional</small>                               | `bool` Default to false
attributes<br><small>optional</small>                                 | `json` Tunnelled add-on fields
invoice_currency<br><small>required</small>                           | `string` Invoice currency, ISO 4217 standard specifies three-letter ("Alpha-3") codes. e.g. USD
invoice_amount<br><small>required</small>                             | `float`  Invoice amount
fee_tier<br><small>optional</small>                                   | `string`  Applicable fee tier. If empty, contracted MP level "standard" tier property will be used
fee_paid_by<br><small>optional</small>                                | `string` Party that bears the fee for the transaction. Can be: `buyer` or `seller`. If empty; contracted MP level value will get applied
fee_percentage<br><small>optional</small>                             | `string` If the fee is to be split between the buyer and seller, pass the percentage of split to be paid by the entity passed above. E.g. if fee_paid_by is "buyer" and fee_percentage is 40%, 60% of the remaining fee will need to be paid by the seller.
release_docs<br><small>optional</small>                               | `[] release_docs` The list of documents to be provided as completion proof for the verification.  <br> Please check <a href="/index.html#release_docs">release_docs</a>

### Response

Parameter                | Description
--------                 | --------
txn_no                   | `string` This the 4 digit escrow transcation number


### txn_doc

Parameter                                 | Description
--------                                  | --------
type<br><small>required</small>           | `string` one of Proforma Invoice , PO, Contract, Order Form, Others
name<br><small>optional</small>           | `string`  required; if type=others
url<br><small>required</small>            | `string`  Direct download link

### release_docs

Parameter                                 | Description
--------                                  | --------
type<br><small>required</small>           | `string` one of Bill of lading, Commercial Invoice, Packing List, Certificate of Origin, Airway Bill, Inspection Certificate, Others
name<br><small>optional</small>           | `string`  required; if type=others
url<br><small>required</small>            | `string`  Direct download link
