## Get Escrow Status

> Response:

```json
{
    "status": "success",
    "data": {
        "txn_no": "1234",
        "state": "Basic",
        "sub_state": "Basic",
        "invoice_currency": "INR",
        "invoice_amount": 10
    }
}
```

### HTTP Request

<span class="http-method get">GET</span> `/v1/escrow/{txn_no}`

### Query Parameters

Parameter       | Type            | Value
---------       | -------         | -----------
txn_no<br><small>required</small> | **integer** |  3456

### Response

Parameter                | Description
--------                 | --------
status                   | `string` success or failure.
data                     | `data` Get Status Response Data Object. <a href="/index.html#get_escrow_status">get_escrow_status</a>


### get_escrow_status

Parameter                | Description
--------                 | --------
txn_no                   | `string` The txn_no for the request made.
state                    | `string` The state / status of escrow
sub_state                | `string` the sub state / status of escrow.
invoice_currency         | `string`  the invoice currency of payment made for this escrow.
invoice_amount           | `float64 / numeric` invoice amount i.e. amount paid for this escrow.


### All Possible Statuses 

Type        | Name                 | Description 
------------|----------------------|-----------------------------------------------------------------
state       | Awaiting_Payment     | Awaiting Payment from Buyer
subState    | Payment_Initiated    | Buyer selected the payment method 
subState    | Payment_Failed       | Payment failed
            |                      |
state       | Payment_Recieved     | Received Payment from Buyer
state       | Payment_NoResponse   | Not received Payment from Buyer before due date
            |                      |
state       | Release_Authorized   | Buyer or Marketplace requested to release the payment to seller 
subState    | Payout_Processing    | Tazapay started processing the payment to seller
subState    | Payout_Failed        | Payment to seller failed
            |                      |
state       | Payout_Completed     | Seller received the payment
subState    | Generic              | Generic status if State does not have any specific substate
